/* font-family: 'Modak', cursive; */
body {
	box-sizing: border-box;
}

form.signup,
form.login {
	margin-top: 50px;
}

.liveSearch-logo {
	text-align: left;
	font-family: 'Modak';
	letter-spacing: 0;
	color: #000000;
	opacity: 1;
	font-size: 44px;
}

.btn-dark {
	background-color: #000000;
	border-color: #000000;
	border-radius: 20px;
}
.btn-light {
	background-color: white;
	border-color: white;
}

button {
	margin: 10px;
}

#vsearch {
	background: #ffffff 0% 0% no-repeat padding-box;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

#activity-image {
	border-radius: 20px;
	width: 262px;
	height: 160px;
}

.content {
	margin-top: 15px;
	background: #f9f9f9 0% 0% no-repeat padding-box;
	border: 2px solid #0c0b0b;
	border-radius: 40px;
	height: 674px;
}

.activities-topics {
	/* text-align: left; */
	font-family: 'Modak', cursive;
	letter-spacing: 0;
	color: #000000;
	opacity: 1;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}


/* Index.html styling */
.indexHtmlImages {
  width: 50%;
}

.theBestPlace {
  margin-bottom: 7px;
  width: 559px;
  font-size: 1.72em;
  font-family: Arial, Helvetica, sans-serif;

}

.boldText {
  margin-left: 190px;
}

.marginLeft {
  margin-left: 190px;
  margin-top: -15px;
}

#activity-image-on-index-html {
	border-radius: 20px;
  width: 340.6px;
  height: 208px;
  margin-top: 11px;
  /* margin: 22px; */
  /* margin-left: 150px;
  margin-top: -75px; */
}
.imagesOnIndexHtml {
  margin-left: 150px;
  margin-top: -75px;
}

.contentOnIndexHtml {
  margin-top: 15px;
	background: #f9f9f9 0% 0% no-repeat padding-box;
	border: 2px solid #0c0b0b;
	border-radius: 40px;
  /* height: 851px; */
  width: 103%;
}



/*  */